.switch {
  cursor: pointer;
}

.settings {
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
  width: 400px;
  max-height: calc(100vh - 65px);
  overflow: auto;
  background: var(--body);
  font-size: 14px;
  border: 2px solid var(--primary);
  border-top: none;
  cursor: default;

  & nav {
    padding: 0 16px;
    border-bottom: 1px solid var(--enh-body-highlight);

    & ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    & li {
      padding: 8px 16px;
      list-style-type: none;
      cursor: pointer;

      &:hover {
        background: var(--enh-body-focus);
      }

      &.active {
        background: var(--enh-body-highlight);
      }
    }
  }

  & details {
    border: 1px solid var(--enh-body-highlight);

    > * {
      padding: 0 8px;
    }
  }

  & p,
  & summary {
    color: var(--muted);
  }

  & p,
  & section {
    margin-top: 0;
    margin-bottom: 8px;
  }

  & a {
    font-weight: bold;
    cursor: pointer;
  }

  & ol {
    padding-inline-start: 20px;
  }

  & table {
    margin: 8px 0;
    width: 100%;
    background: var(--enh-body-focus);
    border: 1px solid var(--enh-body-highlight);
    border-collapse: collapse;
  }

  & th {
    text-align: right;
  }

  & th,
  & td {
    padding: 4px 8px;
    border: 1px solid var(--enh-body-highlight);
  }

  & label,
  & summary {
    cursor: pointer;

    &:hover {
      background: var(--enh-body-focus);
    }

    & input {
      cursor: pointer;
    }

    &.disabled {
      cursor: not-allowed;

      & input {
        cursor: not-allowed;
      }
    }
  }

  & input[type="text"] {
    margin: 8px 0;
    width: 100%;
    padding: 8px;
    background: var(--enh-body-focus);
    color: var(--text);
    border: 2px solid var(--enh-body-highlight);
    border-radius: 3px;
    outline: none !important;

    &:hover,
    &:focus {
      background: var(--enh-body-highlight);
    }
  }
}

.header {
  padding: 0 16px;
}

.title {
  margin-top: 4px;
}

.view {
  padding: 16px;
}

.section-header {
  margin-bottom: 16px;
}

.field-label {
  position: relative;
  margin: 16px 0;
  padding-top: 16px;

  &:not(:first-of-type) {
    border-top: 1px solid var(--enh-body-highlight);
  }
}

.label-block {
  display: flex;
  padding: 8px 8px 8px 0;

  & input[type="checkbox"] {
    margin-left: auto;
  }
}

.label-inline {
  display: inline-flex;
  padding: 8px 8px 8px 0;

  &:not(:first-child) {
    padding-left: 8px;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.warn {
  padding: 8px;
  background-color: #e9db89;
}

:global(.enh-dark) {
  .warn {
    background-color: #594c00;
  }
}
