.switch {
    width: 80px;
    height: 80px;
    background: #AAA;
    font-size: 2em;
}

.settings {
    position: absolute;
    z-index: 1000;
    top: 100px;
    right: 0;
    width: 400px;
    background: #333;
    font-size: 14px;

    nav {
        padding: 0 16px;
        border-bottom: 1px solid #444;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        li {
            padding: 8px 16px;
            list-style-type: none;
            cursor: pointer;

            &:hover {
                background: #3A3A3A;
            }

            &.active {
                background-color: #444;
                color: #FFF
            }
        }
    }

    p {
        margin-bottom: 8px;
    }

    a {
        font-weight: bold;
        cursor: pointer;
    }

    ol {
        padding-inline-start: 20px;
    }

    table {
        margin: 16px 0;
        width: 100%;
        background: #3A3A3A;
        border: 1px solid #555;
        border-collapse: collapse;

        th {
            text-align: right;
        }

        th, td {
            padding: 4px 8px;
            border: 1px solid #555;
        }
    }

    label {
        cursor: pointer;

        &:hover {
            background-color: #444;
        }

        input {
            cursor: pointer;
        }
    }

    input[type='text'] {
        margin-bottom: 16px;
        width: 100%;
        padding: 8px;
        background: #444;
        color: #FFF;
        border: 2px solid #555;
        border-radius: 3px;

        &:hover, &:focus {
            background: #4A4A4A;
        }
    }
}

.header {
    padding: 0 16px;
}

.title {
}

.view {
    padding: 16px;
}

.section-header {
    margin-bottom: 16px;
    color: #FFF;
}

.field-label {
    position: relative;
    margin: 16px 0;
    padding-top: 16px;
    color: #FFF;

    &:not(:first-of-type) {
        border-top: 1px solid #444;
    }
}

.label-block {
    display: flex;
    padding: 8px 8px 8px 0;

    input {
        margin-left: auto;
    }
}

.label-inline {
    padding: 8px 8px 8px 0;

    &:not(:first-child) {
        padding-left: 8px;
    }

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.warn {
    padding: 8px;
    background-color: #594c00;
}
