.enh-body {
    --ehg-hl-op: 0.2;
}

#enh-settings {
    position: relative;

    & * {
        box-sizing: border-box;
    }
}

.enh-like-rate {
    display: none;
}

.enh-show-like-rates {
    .videoTeaser,
    .imageTeaser {
        .views {
            .text {
                display: none;
            }
        }

        .enh-like-rate.text {
            display: block;
        }
    }
}

.enh-highlight {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -15px;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--primary);
        opacity: var(--ehg-hl-op);
    }
}
