.enh-body {
  --ehg-hl-bg: rbga(0, 0, 0, 0);
}

#enh-settings {
  position: relative;

  & * {
    box-sizing: border-box;
  }
}

.enh-like-rate {
  display: none;
}

.enh-show-like-rates {
  .videoTeaser,
  .imageTeaser {
    .views {
    }

    .enh-like-rate {
      display: block;

      & + .text {
        display: none;
      }
    }
  }

  .page-start__subscriptions,
  .page-start__videos,
  .page-start__images {
    position: relative;
    z-index: 0;
  }
}

/* for all the affected pages, check out process-teaser.ts */
.enh-highlight {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    background: var(--ehg-hl-bg);

    .page-video &,
    .page-image & {
      content: none;
    }
  }

  .page-profile &,
  .page-subscriptions & {
    position: relative;

    &:before {
      top: -6px;
      bottom: -6px;
      left: -6px;
      right: -6px;
    }
  }

  .page-video &,
  .page-image & {
    background: var(--ehg-hl-bg);
  }
}
